:root {
    --main-red: #bb0303;
    --dark-gray: rgb(255, 255, 255, 0.1);
}

body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    transition: 200ms all ease-in-out;
}

.bottom-bar {
    margin-top: 200px;
}

.contact-page-link a {
    color: white;
    font-size: 20px;
}

#first-row {
    margin-top: 120px;
}

footer {
    font-size: 15px;
}

footer a {
    color: var(--main-red);
    font-weight: 600;
}

footer a:hover {
    color: white;
}

h1,
h3 {
    margin: 0;
}

h1 {
    font-size: 80px;
    color: var(--main-red);
}


h2 {
    color: var(--main-red);
    font-size: 40px;
}

h3 {
    font-size: 40px;
    font-weight: 300;
    opacity: 0.7;
}

h3 strong {
    color: var(--main-red);
}

header {
    padding: 150px 0px;
}

i {
    color: var(--main-red);
}

img {
    border-radius: 5px;
    margin-bottom: 15px;
}

.launch-links {
    margin-bottom: 100px;
}

.launch-links a {
    margin: 10px;
}

.navbar-brand {
    color: var(--main-red);
    margin-left: 20px;
}

.navigation-links a, .launch-links a {
    color: white;
    font-size: 20px;
    background-color: var(--dark-gray);
    padding: 5px 10px;
    border: 3px inset var(--main-red);
    border-radius: 7px;
}

.navigation-links a:hover, 
.launch-links a:hover,
.contact-page-link a:hover {
    color: var(--main-red);
    border: 3px outset var(--main-red);
}

p {
    font-size: 20px;
    opacity: 0.9;
    line-height: 1.3;
}

.project-img {
    border: 5px double white;
}

.social-icon-links {
    font-size: 30px;
}

.col-md-6 ul {
    list-style: none;
    padding-inline-start: 0px;
}

@media (max-width: 576px) {
    body {
        text-align: center;
    }
    .header {
        padding-top: 50px;
    }
    h1 {
        font-size: 60px;
    }
    h1 small {
        font-size: 40px;
    }
    h3 {
        font-size: 30px;
    }
    .launch-links {
        margin-bottom: 50px;
    }
    .navigation-links a, .launch-links a {
        display: flex;
        justify-content: center;
    }
}
