body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    transition: 200ms all ease-in-out;
}

footer {
    font-size: 20px;
}

footer a {
    color: #bb0303;
    font-weight: 600;
}

footer a:hover {
    color: white;
}

h1,
h3 {
    margin: 0;
}

h1 {
    font-size: 80px;
    color: #bb0303;
}

h1 small {
    font-size: 60px;
}

h3 {
    font-size: 40px;
    font-weight: 300;
    opacity: 0.7;
}

h3 strong {
    color: #bb0303;
}

.header {
    padding-top: 150px;
}

.navbar-brand {
    color: #bb0303;
    margin-left: 30px;
}

.name {
    font-family: "Edu SA Beginner", cursive;
}

.navigation-links a {
    color: white;
    font-size: 20px;
    background-color: rgb(255, 255, 255, 0.1);
    padding: 5px 10px;
    border: 3px inset #bb0303;
    border-radius: 7px;
}

.navigation-links a:hover {
    color: #bb0303;
}

.social-icon-links {
    font-size: 30px;
    padding-top: 200px;
}
